* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 100vh;
  background-color: #282d35;
}

.navbar {
  display: flex;
  background-color: #21222a;
  align-items: center;
  padding: 30px 25px;
  height: 90px;
}
.logo-text,
.logo-heading {
  margin: 0;
}

.logo-text {
  margin-right: auto;
  color: #61dafb;
}

.logo-heading {
  color: #deebf8;
  font-weight: 300;
}

.nav--icon {
  height: 40px;
  margin-right: 10px;
}

.main-section {
  padding: 57px 27px;
  background-color: #282d35;
  /* height: 800px; */
  background-image: url(./images/react-icon-large.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}

.facts-heading {
  font-size: 38px;
  line-height: 48px;
  letter-spacing: -1px;
  color: #ffffff;
  margin: 0;
}

.fact-list {
  color: #ffffff;
  margin-top: 46px;
}

.fact-list > li {
  line-height: 19px;
  padding-block: 10px;
}

.fact-list > li::marker {
  font-size: 1.4rem;
  color: #61dafb;
}
